@import 'tailwindcss';
@import '@cloudflare/kumo/styles';

@utility text-2xs {
  font-size: 0.625rem;
  line-height: 0.875rem;
}

@utility text-3xs {
  font-size: 0.5rem;
  line-height: 0.75rem;
}

html,
body {
  background-color: var(--background);
  color: var(--foreground);
}
