@source "../node_modules/@cloudflare/kumo/dist/**/*.{js,jsx,ts,tsx}";
@import '@cloudflare/kumo/styles';
@import 'tailwindcss';

@utility text-2xs {
  font-size: 0.625rem;
  line-height: 0.875rem;
}

@utility text-3xs {
  font-size: 0.5rem;
  line-height: 0.75rem;
}

/* Force Kumo/Base UI portal content to top layer */
[data-base-ui-portal] > div {
  z-index: 1000 !important;
}

html,
body {
  background-color: var(--kumo-base);
  color: var(--kumo-default);
  color-scheme: light dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: 1rem;
}
